<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jordan McFadden">
    <meta name="description" content="This lesson is about CSS Box Models">
    <link rel="stylesheet" href="../styles/boxmodel.css" type="text/css">
    <title>CSS Box Model</title>
</head>

<body>
    <header class="container">
        <h1>CSS Box Model</h1>
    </header>

    <main class="container">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas illum fuga, dolores non harum ut sequi
            voluptates nisi sed, ipsam dicta iste quos suscipit, vel voluptatem quaerat molestiae cum dolorem.
        </p>
        <div class="circle"></div>
    </main>
</body>

</html>
