<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jordan McFadden">
    <meta name="description" content="This lesson is about CSS Columns">
    <link rel="stylesheet" href="../styles/columns.css" type="text/css">
    <title>CSS Columns</title>
</head>

<body>
    <section class="columns">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit ex iste eveniet consectetur minus eum mollitia
            a harum, placeat, reprehenderit rem repellendus veritatis distinctio et molestiae? Tenetur, est a. Quae.
        </p>
        <p>
            Incidunt, sunt quibusdam aperiam voluptates eveniet fugit est voluptatem in magnam natus mollitia sequi
            alias, dicta assumenda eligendi molestias! Tempore et, suscipit totam perferendis praesentium inventore quia
            recusandae sapiente hic!
        </p>
        <h2>Next Topic</h2>
        <p>
            Quisquam qui harum itaque eligendi? Veritatis dolorem dignissimos, corporis aperiam tempora atque provident
            autem eius officia, laboriosam nisi omnis sed. Aperiam numquam dolorum tempore! Nihil blanditiis beatae
            vitae voluptatum corrupti!
        </p>
        <p class="quote">&#8220;Where's my rug, man?&#8221; &#8212; The Dude</p>
        <p>
            Fugit, ipsa dolor alias voluptatum nihil, voluptatem voluptas vel similique laudantium ratione nulla hic
            reprehenderit ipsam. Et exercitationem autem, ut tempore omnis atque, porro reprehenderit sed provident
            cupiditate iste labore.
        </p>
    </section>
    <p>
        Qui aut dolorum vitae incidunt! Magnam distinctio repellat hic quidem voluptatum sunt dolorum harum totam?
        Omnis, dignissimos labore ipsum incidunt eos ipsa cum veniam. Molestiae deserunt eius sapiente cupiditate
        asperiores?
    </p>
</body>

</html>
