<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jordan McFadden">
    <meta name="description" content="This lesson is about CSS Display">
    <link rel="stylesheet" href="../styles/display.css" type="text/css">
    <title>CSS Display</title>
</head>

<body>
    <header>
        <h1>CSS Dispaly</h1>
    </header>

    <main>
        <p>This is a paragraph. </p>
        <p>This is <span class="opposite">another</span> paragraph.</p>

        <nav>
            <ul>
                <li>
                    <a href="#">Intro</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Projects</a>
                </li>
            </ul>
        </nav>
    </main>
</body>

</html>
