<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jordan McFadden">
    <meta name="description" content="This lesson is about CSS Typography">
    <link rel="stylesheet" href="../styles/typography.css" type="text/css">
    <title>CSS Typography</title>
</head>

<body>
    <header>
        <h1>CSS Typography</h1>
    </header>

    <main>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas illum fuga, dolores non harum ut sequi
            voluptates nisi sed, ipsam dicta iste quos suscipit, vel voluptatem quaerat molestiae cum dolorem.
        </p>

        <form>
            <label for="name">Name: </label>
            <input id="name" type="text" placeholder="Your Name">
            <button>Submit</button>
        </form>
    </main>
</body>

</html>
