<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jordan McFadden">
    <meta name="description" content="Hi, I'm Jordan Mcfadden. This page is about me">
    <title>About Me</title>
</head>

<body>
    <h1>Hi, I'm Jordan McFadden</h1>

    <hr>

    <h2>My Coding Journey</h2>
    <p>
        I actually really like coding if it is a project worth investing time into. When it's a project that I don't
        really care for I find myself losing interest. HTML and CSS projects always keep me motivated I hope that after
        getting really good at both of these languages I can learn react and express with this same motivation.
        Eventually, I hope this will lead me to my dream of becoming a website creator or something with designing web
        pages.
    </p>

    <hr>

    <ul>
        <li>Download an <a href="html5.png" download>HTML5 favicon</a></li>
        <li>Contact me at <a href="mailto:random@email.com">My email address</a></li>
        <li>Dial <a href="tel:+1234567890">My phone number</a></li>
        <li>Open <a href="https://www.google.com/" target="_blank">Google</a> in a new tab</li>
    </ul>

    <hr>

    <p>
        &lt; &lt; &lt; &copy; <a href="about.html">Jordan McFadden</a> &gt; &gt; &gt;
        <br> <a href="/">To HTML Course</a>
    </p>
</body>

</html>